* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    // background-color: #1a1a1a;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    // border: solid;
    width: 100%;
    display: flex;
    align-items: center;
    // justify-content: center;
    justify-content: space-around;
    // melhor between

    nav{
        width: 100%;
    }
    
    img {
        width: 7vw;
    }
    ul {
        // border: solid;
        display: flex;
        justify-content: space-evenly;

    }
    li {
        list-style: none;
         transition: all 0.3s ease;
         &:hover {
            color: #d4af37;

        }

    }
    a {
        // color: 
        text-decoration: none;
        color: #1a1a1a;
    }
    .cadastro{
        display: flex;
        gap: 10px;
        button{
            padding: 8px 16px;
            border-radius: 8px;
            border: none;
            background-color: #e4be40;
            color: #111;
            font-weight: 600;
            cursor: pointer;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: #a1740a;
            }
        }
    }
}