#secao-novidades {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2.5rem 0;

  h2 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.875rem;
    color: #333;
    text-align: center;
  }

  .novidades-img {
    width: 95%;
    max-width: 81.25rem;

    img {
      width: 100%;
      border-radius: 0.25rem;
      display: block;
      object-fit: cover;
    }
  }
}
